# Dependencies
node_modules
npm-debug.log*

# Build output (container içinde oluşturulacak)
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# Test
coverage

# Misc
README.md
